body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'KoHo', sans-serif;
    font-size: 18px;
    background-color: #10131a;
    color: white;
}
.mainS {
    width: 60vw;
    height: 80vh;
    border: solid 1px white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.dataInput {
    display: flex;
    flex-direction: row;
    height: 20%;
    width: 100%;
    border: solid 1px whtie;
}
.dataOutput {
    display: flex;
    flex-direction: row;
    height: 80%;
    width: 100%;
    border: solid 1px white;
}
.income {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    border: solid 1px white;
}
.expenses {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    border: solid 1px white;
}
.header {
    margin-left: 25px;
    margin-top: 25px;
    margin-bottom: 15px;
    height: 20%;
    width: 100%;
}
.form {
    height: 80%;
    width: 100%;
    margin-left: 25px;
    margin-top: 25px;
}
h1 {
    font-weight: bold;
    font-size: 28px;
    margin-bottom: 40px;
}
input {
    border: none;
    border-bottom: solid 1px white;
    margin-right: 25px;
    background-color: #10131a;
    color: white;
}
.input {
    font-size: 16px;
}
.incomesData {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    border: solid 1px white;
}
.expensesData {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    border: solid 1px white;
}
.resultBox {
    display: flex;

    align-items: center;
    position: absolute;
    top: 38px;
    left: 42%;
    height: 5vh;
    width: 17vw;

}
#resultAll {
    padding-left: 20px;
    font-weight: bold;
    font-size: 20px;
}
.logoPng {
    width: 42px;
    height: 42px;
}

li {
    list-style-type: circle;
    margin-top: 25px;
    margin-left: 55px;
    font-weight: bold;
    font-size: 16px;
}
button {
    border: none;
    border-bottom: solid 1px white;
    background-color: #10131a;
    color: white;
    font-size: 16px;
}
ul {
    height: 90%;
}
h2 {
    margin-right: 10px;
}
.headerTumb {
    margin-top: 20px;
    margin-left: 25px;
    display: flex;
    flex-direction: row;
    font-size: 18px;
    font-weight: bold;
}
.copyR{
    position: absolute;
    bottom: 15px;
    right: 15px;
    color: white;
}
span {
    color: teal;
}
